#form-list{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    background-color: antiquewhite;
    padding: 5px;
    div{
        display: flex;
        flex-direction: row;
        height: 40px;
        margin: 10px;
        label{
            line-height: 40px;
            align-content: center;
            margin-right: 10px;
        }
        input{
            flex: 1 1 auto;
        }
    }
}

